<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="viewAll" class="page-header">
                <br>
                <h1>
                    View All Store
                </h1>
                <div class="container">

                    <div class="row">
                        {% for store in stores %}
                        <div class="col-xs-10 col-md-2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ store.name }}</h3>
                                </div>

                                    <button type="button" onclick='click_with_id("{{ path('sh_store_view_one') }}","{{ store.id }}")' class="stock">
                                        <img src='{{ asset(store.picture) }}' width="145" height="145" >
                                    </button>
                                    {% if user.isSuperUser %}
                                        <div class="btn-group">
                                            <button type="button" onclick='click_with_id("{{ path('sh_store_edit_view') }}","{{ store.id }}")' class="btn btn-warning"><i class="fa fa-edit"></i></button>
                                            <button type="button" onclick='click_with_id("{{ path('sh_store_delete') }}","{{ store.id }}")' class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                            <button type="button" onclick='click_with_id("{{ path('sh_store_view_address') }}","{{ store.id }}")' class="btn btn-primary"><i class="fa fa-map-marker"></i></button>
                                        </div>
                                    {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>