{% extends "@StockHaven/Layout/admin-lte.twig" %}
{% set skin_color_lte = "skin-purple" %}
{% set path_ajax = "ajax" %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/smsite/css/site-part.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/smsite/css/chat-box.css") }}"/>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
{% endblock %}
{% block title_lte %}Stock Haven{% endblock %}
{% block logo_href %}#{% endblock %}
{% block onclick %}get_part_html_put_content(null,'{{ path_ajax }}/dashboard','content-content-lte');{% endblock %}
{% block logo_mini_lte %}<b>SH</b>{% endblock %}
{% block logo_lg_lte %}<b>Stock</b>Haven{% endblock %}
{% block menu_rigth_lte %}
    <ul class="nav navbar-nav" >
        <li class="dropdown user user-menu" >
            <form action="#" onsubmit="search(); return false;"  id="axelosearch"  class="sidebar-form desktop-search" >
                <div class="input-group">
                    <input type="text" id="q" name="elem" autocomplete="off" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="buttonS" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li id="axelohref" class="desktop-href">
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
    </ul>


{% endblock %}
{% block main_sidebar_lte %}
    {% include "StockHavenBundle:site-main:main-sidebar.include.twig" %}
{% endblock %}
{% block content_header_lte %}
{% endblock %}

{% block footer_left_lte %}
    <strong>Axel Verbeiren © 2016-2017</strong>
{% endblock %}

{% block footer_rigth_lte %}
    <b>Version</b> 1.0
{% endblock %}

{% block script %}
    {{ parent() }}
    <script src="{{ asset("bundles/smsite/js/chat-box.js") }}"></script>
    <script src="{{ asset("bundles/smsite/js/site-part.js") }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>
    <script>
        get_part_html_put_content(null,'{{ path_ajax }}/dashboard','content-content-lte');
    </script>
    <script>

        function axeloresize() {
            if($(window).width()<600)
            {
                $('#axelosearch').removeClass("desktop-search").addClass('mobile-search');
                $('#axelohref').removeClass("desktop-href").addClass('mobile-href');
            }
            else
            {
                $('#axelosearch').removeClass("mobile-search").addClass('desktop-search');
                $('#axelohref').removeClass("mobile-href").addClass('desktop-href');
            }
        }
        $(window).ready(function() {
            axeloresize();
        });
        $(window).resize(function() {
            axeloresize();
        });
        function search() {
            post_form('{{ path('sh_search') }}',$('#axelosearch').serialize());
            $('#q').val('');
            $('#q').hideKeyboard();
        }
    </script>
{% endblock %}
{% block control_sidebar_lte %}
    {% include "@StockHaven/site-main/main-sidebar/barRight.twig" %}
{% endblock %}
{% block end_body_lte %}

{% endblock %}