<div class="container">
    <div class="row">
        {% if stock is defined %}
        <div class="col-sm-12">
            <div id="viewStock" class="page-header">
                <br>

                <h1>
                    Search Stock
                </h1>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-md-2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ stock.name }}</h3>
                                </div>
                                <button type="button" class="stock btn-primary" style="background-color: #605ca8;">
                                    Owner : {{ stock.userCreatorId.fullName }}<br>
                                    Numbers Items : 0 <br>
                                    Numbers Users : {{ stock.users.count }}
                                </button>

                                {% if not stock.users.contains(user) %}
                                    <button type="button" onclick='click_with_id("{{ path('sh_stock_add_user') }}","{{ stock.id }}")' class="btn btn-success"><i class="fa fa-user-plus"></i></button>
                                {% endif %}
                                {% if stock.users.contains(user) and stock.userCreatorId.id != user.id %}
                                    <button type="button" onclick='click_with_id("{{ path('sh_stock_remove_user') }}","{{ stock.id }}")' class="btn btn-danger"><i class="fa fa-user-times"></i></button>
                                {% endif %}
                                {% if stock.userCreatorId.id == user.id %}
                                    <button type="button" id="update" onclick='click_with_id("{{ path('sh_stock_edit_view') }}","{{ stock.id }}")' class="btn btn-warning"><i class="fa fa-edit"></i></button>
                                    <button type="submit" id="delete" onclick='click_with_id("{{ path('sh_stock_delete') }}","{{ stock.id }}")' class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% endif %}
        {% if item is defined %}
            <div class="col-sm-12">
                <div id="viewAll" class="page-header">
                    <br>
                    <h1>
                        Search Item
                    </h1>
                    <div class="container">
                        <div class="col-sm-4 col-md-2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ item.name }}</h3>
                                </div>
                                <button type="button" class="stock btn-primary" style="background-color: #605ca8;">
                                    Description : {{ item.description }}<br>
                                    type : {{ item.typeId.name }}<br>
                                    Store Found : {{ item.stores.count }}<br>
                                    Price : {{ item.price }} {{ item.currencyId.symbol }}
                                </button>
                                <button type="button" onclick='click_with_id("{{ path('sh_stock_add_item') }}","{{ item.id }}")' class="btn btn-success"><i class="fa fa-plus"></i></button>
                                {% if user.isSuperUser %}
                                    <button type="button" onclick='click_with_id("{{ path('sh_item_edit_view') }}","{{ item.id }}")' class="btn btn-warning"><i class="fa fa-edit"></i></button>
                                    <button type="button" onclick='click_with_id("{{ path('sh_item_delete') }}","{{ item.id }}")' class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if item is not defined and stock is not defined %}
        <div id="viewAll" class="page-header">
            <br>
            <h1>
                Search
            </h1>
            <div class="container">
                <div class="col-sm-4 col-md-2">
                    <p>Found nothing !!! Sorry</p>
                </div>
            </div>
        </div>
    </div>
        {% endif %}
    </div>
</div>