<div class="container">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-tasks"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Stocks</span>
                        <span class="info-box-number">{{ nbStock }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-shopping-bag"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Stores</span>
                        <span class="info-box-number">{{ nbStore }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->

            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-barcode"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Items</span>
                        <span class="info-box-number">{{ nbItem }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Members</span>
                        <span class="info-box-number">{{ nbUser }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    {% if success is defined %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success !</strong> {{ success }}
        </div>
    {% endif %}
    {% if error is defined %}
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error !</strong> {{ error }}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            {% if user_current.isSuperUser %}
            <div class="box">

                <div id="canvas-holder" style="width:75%">
                    <canvas id="chart-area" />
                    <script id="script-item">
                        var ctx = document.getElementById("chart-area").getContext("2d");
                        var data = {
                            labels: {{ statType|raw }},
                            datasets: [
                                {
                                    data: {{ nbStat|raw }},
                                    backgroundColor: {{ typeColor|raw }}

                                }]
                        };
                        var myDoughnutChart = new Chart(ctx, {
                            type: 'doughnut',
                            data: data,
                            options: {
                                responsive: true,
                                legend: {
                                    position: 'top',
                                },
                                title: {
                                    display: true,
                                    text: 'nb item in type'
                                },
                                animation: {
                                    animateScale: true,
                                    animateRotate: true
                                }
                            }
                        });
                    </script>
                </div>


            </div>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Users</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody><tr>
                            <th style="width: 10px">#</th>
                            <th>Full Name</th>
                            <th> is Admin</th>
                        </tr>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.fullName }}</td>
                                <td>
                                    {% if user.isSuperUser == true %}
                                        {% if user.id != 1 %}
                                            <button type="button" onclick='click_with_id("{{ path('sh_dashboard_remove_super_user') }}","{{ user.id }}")' class="btn btn-success">
                                                <i class="fa fa-check">
                                                </i>
                                            </button>
                                        {% endif %}
                                    {% else %}
                                        {% if user.id != 1 %}
                                            <button type="button" onclick='click_with_id("{{ path('sh_dashboard_add_super_user') }}","{{ user.id }}")' class="btn btn-danger">
                                                <i class="fa fa-times">
                                                </i>
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody></table>
                </div>
                <!-- /.box-body -->
            </div>
            {% endif %}
        </div>
        <div class="col-sm-12"></div>
    </div>
</div>

