<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="viewAll" class="page-header">
                <br>
                <h1>
                    View All Item
                </h1>
                {% set foo = 0 %}
                <div class="container">
                    {% for item in items %}
                        {% set foo = foo+1 %}
                        {% if foo%6 == 0 %}
                    <div class="row">
                        {% endif %}
                        <div class="col-sm-4 col-md-2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ item.name }}</h3>
                                </div>
                                <button type="button" class="stock btn-primary" style="background-color: #605ca8;">
                                    Description : {{ item.description }}<br>
                                    type : {{ item.typeId.name }}<br>
                                    Store Found : {{ item.stores.count }}<br>
                                    Price : {{ item.price }} {{ item.currencyId.symbol }}
                                </button>
                                <button type="button" onclick='click_with_id("{{ path('sh_stock_add_item') }}","{{ item.id }}")' class="btn btn-success"><i class="fa fa-plus"></i></button>
                                {% if user.isSuperUser %}
                                <button type="button" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                                <button type="button" onclick='click_with_id("{{ path('sh_item_delete') }}","{{ item.id }}")' class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                {% endif %}
                            </div>
                        </div>
                        {% if foo%6 == 0 %}
                    </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>