<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="create" class="page-header">
                <br>
                <h1>Edit an Item<br>
                </h1>
                <div class="box box-primary">
                    <div class="box-header with-border">
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form action="#" id="form">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="Name">Name Item*</label>
                                <input type="number" name="item_id" value="{{ item.id }}" hidden>
                                <input type="text" class="form-control" name="name" value="{{ item.name }}" required>
                            </div>
                            <div class="form-group">
                                <label for="Price">Price*</label>
                                <input type="number" step="0.01" class="form-control" name="price" value="{{ item.price }}" required>
                            </div>
                            <div class="form-group">
                                <label>Currency*</label>
                                <select class="form-control" name="currency" required>
                                {% for cur in currency %}
                                    {% if cur.id == item.currencyId.id %}
                                        <option selected>{{ cur.longName }} {{ cur.shortName }} ({{ cur.symbol }})</option>
                                    {% else %}
                                        <option>{{ cur.longName }} {{ cur.shortName }} ({{ cur.symbol }})</option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Description">Description</label>
                                <textarea class="form-control" id="desc"  name="description" ></textarea>
                            </div>
                            <div class="form-group">
                                <label>Type*</label>
                                <select class="form-control" name="type" required>
                                    {% for type in types %}
                                        {% if type.id == item.typeId.id %}
                                            <option selected>{{ type.name }}</option>
                                        {% else %}
                                            <option>{{ type.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Barcode">Barcode*(fill last)</label>
                                <input type="text" class="form-control" name="barcode" value="{{ item.barcodeId.barcode }}" required>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary" style="background-color: #605ca8;">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#desc').text("{{ item.description }}");
    $('#form').submit(function(e) {
        e.preventDefault();
        post_form('{{ path('sh_item_edit') }}',$(this).serialize());
    });



</script>